@charset "utf-8";

/* CSS Document */
body {
    color: #BBBBBB;
    background: url(../template/background.png)center top no-repeat #5d5d5d;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px #1c1c1c;
    webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a:hover {
    color: #ff0000;
    text-shadow: 0px 0px 10px #000000;
}

fieldset {
    border: 1px dotted #888888;
    padding: 10px;
    margin-top: 7px;
}

legend {
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

form {
    /*background:url(../_img/fundo_da_form.png) no-repeat;*/
}

input,
select,
textarea {
    background: #333333;
    margin-right: 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #4c4c4c;
    color: #BBBBBB;
    font-weight: bold;
    font-size: 11px;
}

.input {
    background: #222222;
    border: 1px solid #BBBBBB;
}

.botao {
    color: #000;
    background: url(../template/bg_button.png) left;
    padding-left: 17px;
    border: 1px solid #4c4c4c;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 3px;
    cursor: pointer;
    font-size: 13px;
}

.botao_en {
    background: url(../_img/fundo_botao.jpg) left;
    padding-left: 17px;
    border: 1px solid #4c4c4c;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 3px;
    color: #ff8000;
    cursor: pointer;
    font-size: 13px;
}

.botao_dis {
    background: url(../_img/fundo_botaodes.jpg) left;
    padding-left: 17px;
    border: 1px solid #4c4c4c;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 3px;
    color: #929292;
    cursor: pointer;
    font-size: 13px;
}

.botao2 {
    background: url(../_img/fundo_botao.jpg) right;
    border: 1px solid #000000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 9px;
}

.aviso {
    background: #440000;
    border-right: 1px solid #FFFF99;
    border-left: 1px solid #FFFF99;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.alinhar {
    margin-left: 10px;
    text-align: center;
}

.avisoeq {
    background-color: #1c1c1c;
    border: 1px solid #999999;
    padding: 2px;
    text-align: center;
}

.topo3 {
    height: 69px;
    width: 900px;
    background-image: url(../_img/topo3.png);
    background-repeat: no-repeat;
    padding-bottom: 0px;
    padding-top: 285px;
}

.menu3 {
    margin-top: 0px;
    height: auto;
    width: 900px;
}

.apresentacao img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    max-width: 500px;
}

.apresentacao {
    background: #440000;
    border: 1px dotted #FFFF99;
    color: #FFFF99;
    padding: 3px;
    text-align: center;
}

.rodape {
    background-image: url(../_img/rodape.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
}

.action {
    text-align: center;
    line-height: 37px;
    height: 42px;
    margin-top: 5px;
    font-size: 10px;
    background-image: url(../_img/action1-01.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.topomenu2 {
    background-image: url(../_img/topomenu2.png);
}

@font-face {
    font-family: Nal;
    /*src: url(../fontes/agencyb.ttf);*/
}

@media (max-width: 920px) {

    .topo3,
    .menu3,
    .content,
    .rodape,
    .menutop,
    .menutop2 {
        width: 100% !important;
        background-size: cover;
    }

    .box_top,
    .box_bottom {
        width: 100% !important;
        float: none !important;
        background-size: 100% 100%;
    }

    .box_middle,
    .boxx_middle {
        width: 95% !important;
        float: none !important;
        margin: 0 auto !important;
        background-size: 100% auto;
    }

    .box2_top,
    .box2_middle,
    .box2_bottom,
    .box3_top,
    .box3_middle,
    .box3_bottom {
        width: 100% !important;
        margin-left: 0 !important;
        float: none !important;
    }

    .midlemenor {
        width: 100% !important;
        margin-left: 0 !important;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
    }

    table {
        width: 100% !important;
    }

    .topo3 {
        padding-top: 100px;
        height: auto;
    }
}

</style>